body{
	font-family: Impact, Charcoal, sans-serif;
}

.navbar {
    background-color: #c71717;  
   
}
.navbar-brand{
   
    color: black;
}

#navbarDropdown :hover{
    background-color: #ff0000;
}

#carousel_box {
    max-height: 300px !important;
}
