@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root{
    --first-color: rgba(0,0,0, 0.5);
    --text-color: rgba(252, 5, 5, 0.822);
}
:root{
    --big-font: 'Roboto', sans-serif;
    --big-font-size:2rem;
    --normal-font-size:0.938rem;
    --smaller-font-size:0.875rem;
}
@media only screen and (min-width:550px){

    :root{
        --big-font-size:2.5rem;
        --normal-font-size:1rem;
    }


    .navbar-nav.ml-auto{
        background: rgba(0, 0, 0, 0);
        
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background:  rgba(230, 41, 41, 0.644);
    }
    .carousel-caption{
        padding-bottom: 70px;
    }
    .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 16px;
    }
    .carousel-caption a{
        padding: 10px 25px;
    }
    .navbar-brand span{
        font-size: 15px;
    }
}

*,::before,::after{
    box-sizing: border-box;
}
body{
    
    padding: 0;
    margin: 0;
    font-family: var(--big-font);
    color: var(--first-color);
    background: no-repeat center center cover;
    background-color: rgba(255, 254, 254, 0.644);
    overflow-x: hidden;

}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
    /* STYLES FOR LOGIN PAGE */
.l-form{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.shape1,.shape2{
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.shape1{
    top: -6rem;
    left: -5.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(240, 20, 20, 0.568));
}

.shape2{
    bottom: -6rem;
    right: -5.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(240, 20, 20, 0.56));
    transform: rotate(180deg);
}
.container__shadow {
    color: var(--text-color);
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: block;
    padding-top: 3%;
    box-shadow:  1px 15px 36px rgba(245, 63, 63, 0.589);
    background-color: rgba(192, 186, 186, 0.37);
    
}

.forgot__password{
    color: var(--text-color);
    position: relative;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}
.forgot__password:hover{
    color: var(--first-color);
    text-decoration: none;
}
.form__label{
    font-family: var(--big-font);
    line-height: -2rem;
    letter-spacing: 0.25rem;
    font-size: 20px;
    font-weight: bold;
}
.form__login{
   margin: 4rem 6rem 6rem;
   position: relative;

   
}
.form__login-btn{
  width:100%;
  padding:1rem;
  outline: none;
  margin-bottom: 3rem;
  font-weight: bolder;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(238, 5, 5, 0.726);
  border:none;


}
.form__login-btn:hover{
      background-color: rgba(245, 63, 63, 0.589);
      box-shadow:  0px 15px 36px rgba(245, 63, 63, 0.589);
}
.form__title{
    font-family: 'bebas neue', cursive;
    letter-spacing: 0.25rem;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}
.form-control:focus{
    box-shadow: 5px 8px 5px rgba(252, 5, 5, 0.822);
    border-color: rgba(252, 5, 5, 0.822) ;
}
.user__img{
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: auto;
    top: -2rem;
    left: 42%;
    
}
    /* STYLES FOR NAVIGATIONS */
.navbar-brand img{
    height: 50px;
    width: auto;
    top:0;
    left: 0;
    bottom: 0;
    margin: 1px 1px 1px;
    padding-bottom: 5px;
    border-radius: 50%;
    
}
.navbar{
    
   background-color: rgba(0, 0, 0, 0.5);
}  
.nav-item .nav-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
   
    padding: 10px 12px 10px;
    border-radius: 10px;
    display: inline-block;
    color:rgb(255, 255, 255);         

}

#login-button{
    font-family: var(--big-font);
    font-weight: lighter;
    letter-spacing: 5px;
    border-radius: 2rem;
    padding: 8px 12px 8px;
    font-size: 16px;

}
.nav-link i{
    border-radius: 50%;
    font-size: 18px;
}
.copy__right{
    font-size: 12px;
    color:rgb(0,0,0,);
    position: relative;
}
.office__hours{
    
    font-size:13px;
}
.office__hours span{
    font-size:18px;
}
.navbar-nav .nav-link:hover{
    color:#fff;
    background:linear-gradient(180deg , rgba(141, 110, 110, 0.5) 0% , rgba(246, 45, 45, 0.8) 100%);
    text-decoration: none;
    font-size: 13px;
    border: none;
}

.navbar-brand span  , .navbar-light{
    color:#fff;
    font-size:25px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;   
}
.navbar-brand span {
    
    margin-left: 5px;
    margin-top:5px;
    top:0;
    left: 0;
    position: absolute;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.78);

}
.navbar-nav{
    text-align: center;
}

.nav-link.active .nav-link:focus{ 
    color:#fff ;
}



    /* STYLES FOR LANDING PAGE */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
       
}

.carousel-caption{
    bottom: 220px;
    position: fixed;

}
.carousel-caption h5{
    display: inline-block;
    padding: 10px 5px;
    background: linear-gradient(180deg , rgba(243, 13, 13, 0.335) 0%, rgba(126, 57, 57, 0.5));
    border-radius: 1rem;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 1.9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(7, 7, 6);
    

}
.carousel-caption a{
    text-transform: uppercase;
    background: rgba(5, 5, 5,0.5);
    padding: 15px 25px;
    display: inline-block;
    
    color: rgb(255, 255, 255);
    margin-top: 18px;
    border-radius: 5px;
    font-weight: 900;
    border: 1px solid rgba(255, 248, 248, 0.513);    
    font-size: 18px;
    border-radius: 5rem;
    
}

#btn-mid:hover{
    color:rgba(243, 0, 0, 0.952);
    background-color:rgba(255, 227, 227, 0.876);
    border-color:rgba(5, 5, 5, 0.5);
    cursor: pointer;
    border: none;
    box-shadow:  0px 15px 36px rgba(238, 5, 5, 0.726);
    padding: 15px 25px;
    
    border-radius: 5rem;
  
}
.carousel-indicators li{
    border-radius: 50%;
    padding: 10px 0px 10px;
    background-color:rgba(250, 96, 96, 0.78);
    
}

.carousel-caption span{

    color: rgb(248, 18, 18);    
    font-size:65px;
    font-weight: bold;
    text-shadow: black;
    padding: 3px 3px;
    letter-spacing:5px;
    display: inline-block;
    word-spacing: 3px;
    
    
}
.carousel-control-prev span{
    background: none;
}
.carousel-control-next span{
    background: none;
}

.w-100{
    height: 100vh;
    
}
    /* STYLES FOR ABOUT PAGE */
.card__container__box{
    margin: 5rem 1rem 4rem;
    background-color: rgba(255, 254, 254, 0.842);
    padding: 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    
}
.card-img{
    width: 90%;
    height: 220px;
    display: inline-block;
    margin-bottom: 0rem;
    padding: 2rem 0.5rem 0.5rem;
}
.card-title{
    padding: 5px 5px 5px;
    text-align: center;
    font-family: 'Bebas neue', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.5rem;
}
.card-text{
    text-align: justify;
}



    /* STYLES FOR SUPPORT PAGE */

.divider{
    max-width: 80% ;
    border: 1px solid black;

}
.label{
    display: inline-block;
    font-family: 'bebas' ,  sans-serif;
    margin-top: 10px;
    margin-bottom: auto;
    
}
.download__title{
    font-size: 30px;
    
}
.resource{
    display: inline-block;
    color: rgba(252, 5, 5, 0.822);
    font-size:25px;

}
.resource:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.div__bot{
    margin-bottom: 5rem;
}
.section__title{
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;
}
.cu__supt p{
    color:rgba(252, 5, 5, 0.822);
}
.faqs h4{
    font-weight: bolder;
}
.faqs p{
    color:rgba(252, 5, 5, 0.822);
     margin-left: 5%;
}


    /* STYLES FOR FEEDBACKS PAPGE */
.fb_container{
    border: 1px solid black;
    border-radius: 10px;
}
#fb_comments{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

    /* STYLES FOR ADMIN DASHBOARD PAGE */
.card__templates a{
   
    color: aliceblue;
}
.card__templates a:hover{
    text-decoration: none;
}

/* STYLES FOR ADMIN DASHBOARD SIDE NAV */
/* .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #1111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .7s;
}
.nav a {
    display: block;
    padding:20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover{
    color: #fff;
    transition: 0.4s;
}
.nav .close{
    position: absolute;
    top:0;
    right:22px;
    margin-left:50px;
    font-size:30px;
}
.slide a{
    color:#000;
    font-size: 36px;
}
#content {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
} */