body{
	font-family: Arial, Helvetica, sans-serif;
}

#home-tag{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    background-color: #c71717;  
   
}
.navbar-brand{
   
    color: black;
}

#navbarDropdown :hover{
    background-color: #ff0000;
}

#carousel_box {
    max-height: 300px !important;
}
#body-container{
  
    padding-bottom: 20px;
}
#media-container , #text_qoute{ 
    
    margin-top: 50px;
}
#login-box{
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

